<user>
   <ul>
           <li class="list-group-item list-group-item-info">{props.conference}<li>
           <li class="list-group-item list-group-item-info">{props.conference2}<li>
           <li class="list-group-item list-group-item-info">{props.course}<li> 
           <li class="list-group-item list-group-item-info">{props.course2}<li> 
           <li class="list-group-item list-group-item-info">{props.course3}<li> 
        </ul>
</user>