<home>
 <section class="home">
   <h1 class="name">Idai Tejeda Garcia</h1>
  <Child/>
 </section>
 <script>
    import Child from './child.riot'
    export default {
      components:{
        Child
      }
    }
  </script>
</home>